
body{
    overflow: hidden;
    background-color: silver;
  }
  h1,h2{
    text-align: center;
    color: rgb(220, 73, 122);
  }
  p{
      color: white;
  }
  i{
      color: red;
  }
  
  h1{
    transition: 0s;
    transform: scale(1.1);
  }
  ul{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 0%;
  }
  li {
      margin-top: 5px;
      margin-bottom: 47px;
  }
  .card{
    background-color: rgb(80, 167, 191);
    width: calc(72%/3);
    padding:15px;
    text-align: center;
    transition: 0.3s;
  }
  .card:hover{
    transform: scale(1.1);
  }
  .card_name{
    font-size:20px;
    font-weight: bold;
  }
  span.card_title{
    font-size:25px;
    font-weight: bold;
  }

  .card_country{
    font-size:35px;
  }
  .card_country-orange{
    text-shadow: 5px 5px  10px orange;
    color: orange;
  }
  .card_country-white{
    text-shadow: 5px 5px  10px rgb(11, 143, 225);
    color: white;
  }
  .card_country-green{
    text-shadow: 5px 5px  10px green;
    color: rgb(17, 142, 57);
  }
  .card_recovered{
    font-size:35px;
    color: rgb(17, 142, 57);
  }
  .card_confirmed{
    font-size:35px;
    color: rgb(0, 0, 0);
  }
  .card_deaths{
    font-size:35px;
    color: rgb(255, 255, 255);
  }
  .card_active{
    font-size:35px;
    color: rgb(254, 4, 4);
  }
  .card_lastupdatedtime{
    font-size:25px;
    color: rgb(5, 77, 97);
  }